@import "src/base";

$transition-time: 0.2s;

.ecl-btn {  
  padding: 10px 21px;
  border-radius: 25px;

  cursor: pointer;

  font-family: sans-serif;

  &.primary {
    background: $brand-primary;
    color: $white;
    @include transition(background $transition-time);

    &:hover {
      background: $brand-hover;
      outline: none;
    }

    &:active, &:focus {
      outline: none;
      background: $brand-active;
    }

    &.disabled {
      background: $steel;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}

.btn-unstyled {
  @include button-unstyled;

  &:focus {
    outline: none;
  }
}