@import "src/base";

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding: 5px 35px;
  background: $frost;
  cursor: pointer;
  border: 1px solid $graphite;
  border-radius: 10px;

  transition: background 0.3s;

  font-family: sans-serif;

  &:hover {
    background: $brand-hover;
  }
}

.list-item__title {
  margin-right: 30px;
}
