

// Primary
$brand-primary: #6ED2FA;
$brand-hover: #D2F2FF;
$brand-active: #F2F8FC;

$body-dark: #323237;

// Grayscale
$white: #FFFFFF;
$frost: #FBFCFC;
$fog: #F1F3F4;
$steel: #DEE1E5;
$silver: #ABB5BE;
$smoke: #7C8894;
$graphite: #5F6B77;
$slate: #384048;
