@import "./breakpoints.scss";

$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-light: 300;

$margin: initial;

@mixin style-h1 {
  font-family: grotesk;
  font-weight: $weight-bold;
  font-size: 3.75em;
  letter-spacing: 0.5px;

  @include small {
    font-size: 2.5em;
  }
}

@mixin style-h2 {
  font-family: grotesk;
  font-weight: $weight-bold;
  font-size: 3.125em;
  letter-spacing: 0.5px;

  @include small {
    font-size: 2em;
    letter-spacing: 0;
  }
}

@mixin style-h3 {
  font-family: grotesk;
  font-weight: $weight-bold;
  font-size: 2.5em;
  letter-spacing: 0.5px;

  @include small {
    font-size: 1.5em;
    letter-spacing: 0;
  }
}

@mixin style-h4 {
  font-family: grotesk;
  font-weight: $weight-bold;
  font-size: 2em;
  letter-spacing: 0.75px;

  @include small {
    font-size: 1.375em;
    letter-spacing: 0;
  }
}

@mixin style-h5 {
  font-family: grotesk;
  font-weight: $weight-bold;
  font-size: 1.75em;
  letter-spacing: 0px;

  @include small {
    font-size: 1.25em;
  }
}

@mixin style-h6 {
  font-family: grotesk;
  font-weight: $weight-bold;
  font-size: 1.125em;
  letter-spacing: 0px;
}

@mixin style-body-large {
  font-family: grotesk;
  font-weight: $weight-light;
  font-size: 1.125rem;
  letter-spacing: 0.25px;
  margin: $margin;

  @include small {
    font-size: 1rem;
    letter-spacing: 0;
  }
}

@mixin style-body-large-bold {
  font-family: grotesk;
  font-weight: $weight-bold;
  font-size: 1.125rem;
  letter-spacing: 0.25px;
  margin: $margin;

  @include small {
    font-size: 1rem;
    letter-spacing: 0;
  }
}

@mixin style-body-small {
  font-family: grotesk;
  font-weight: $weight-light;
  font-size: 0.875rem;
  letter-spacing: 0.25px;
  margin: $margin;
}

@mixin style-body-small-bold {
  font-family: grotesk;
  font-weight: $weight-bold;
  font-size: 0.875rem;
  letter-spacing: 0.25px;
  margin: $margin;
}

@mixin style-button {
  font-family: grotesk;
  font-weight: $weight-bold;
  font-size: 0.875em;
  letter-spacing: 0.25px;
  margin: $margin;
}

@mixin style-nav {
  font-family: grotesk;
  font-weight: $weight-bold;
  font-size: 0.75em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: $margin;

  @include small {
    letter-spacing: 0.25px;
  }
}

@mixin style-scan-location {
  @include style-nav;

  font-size: 0.75em;
  letter-spacing: 1.5px;

  @include small {
    letter-spacing: 1.5px;
  }
}

@mixin style-caption {
  font-family: grotesk;
  font-weight: $weight-regular;
  font-size: 0.75em;
  letter-spacing: 0.25px;
  margin: $margin;
}

@mixin style-link {
  @include style-button;

  cursor: pointer;
  
  &:hover {
    text-decoration: underline;
  }
}

@font-face {
  font-family: grotesk;
  font-weight: $weight-regular;
  src: url('/assets/fonts/grotesk/HKGrotesk-Regular.otf') format('opentype');
}

@font-face {
  font-family: grotesk;
  font-weight: $weight-medium;
  src: url('/assets/fonts/grotesk/HKGrotesk-Medium.otf') format('opentype');

}
@font-face {
  font-family: grotesk;
  font-weight: $weight-bold;
  src: url('/assets/fonts/grotesk/HKGrotesk-Bold.otf') format('opentype');
}

@font-face {
  font-family: grotesk;
  font-weight: $weight-light;
  src: url('/assets/fonts/grotesk/HKGrotesk-Light.otf') format('opentype');
}
