$width-col: 70px;
$width-gutter: 30px;

$width-col-small: 70px;
$width-gutter-small: 15px;

@function calc-width($num-columns, $width-col, $width-gutter) {
  @return ($num-columns * $width-col) + (($num-columns - 1) * $width-gutter); 
}

@function column-width($num) {
  @return calc-width($num, $width-col, $width-gutter);
}

@function column-width-small($num) {
  @return calc-width($num, $width-col-small, $width-gutter-small);
}
