@import "src/base";

.list {
  background: $brand-active;
  padding: 30px;

  color: $body-dark;

  font-family: sans-serif;
}

.list__item__container {
  padding: 15px 0px;
}

.list__list-item {
  margin-bottom: 10px;
}
