@import "src/base";

$cell-padding: 5px 10px;

.prop-table {
  font-family: sans-serif;

  table {
    width: 100%;
  }

  th {
    padding: $cell-padding;
  }

  td {
    padding: $cell-padding;
  }

  table, th, td {
    border: 1px solid $silver;
    border-collapse: collapse;
  }

  tr {
    &:nth-child(even) {
      background: #FAFAFA;
    }
  }

  .story-link {
    color: $brand-primary;
  }
}
